* {
  font-size: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  color: #000000;
}

.App {
  width: 100%;
  background: #fff;
  display: grid;
  justify-content: center;
}

.container {
  width: 33rem;
}

.btn {
  cursor: pointer;
}

.btn:hover {
  text-shadow: 0 0 1rem #8400ff, 0 0 1rem #8400ff;
  border-right: .1rem solid #000;
}

.titel-blk {
  font-family: Cera Pro;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 100%;
  color: #000000;
}

.subtitel-blk {
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.8rem;
  letter-spacing: 0.03em;
}

.product-name {
  overflow: hidden;
  height: 4.5rem;
  font-family: Cera Pro, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: none;
  background: none;
  color: #000000;
  appearance: none;
}

.product-name:hover {
  border-top: 1px solid #00000065;
}

.product-name:focus {
  border-top: 1px solid #00000065;
  overflow: auto;
}

.nav {
  transition: .5s;
  position: absolute;
  bottom: 4.74%;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.hamburger {
  width: 2.4rem;
  height: 2rem;
  display: grid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 3rem;
}

.h-span {
  width: 2rem;
  height: .2rem;
  background: #000;
}

.h-links {
  width: 8.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h-icon {
  width: 1.993rem;
}

.box-lang {
  position: absolute;
  right: 2%;
  display: flex;
  align-items: top;
  cursor: pointer;
}

.language {
  width: 14px;
  height: 18px;
  font-family: Cera Pro, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #000000;
}

.blockone {
  height: 475px;
  background-image: url("../img/section/b1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  position: relative;
}

.blockone-left {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(40px);
  width: 100%;
  padding-left: 50%;
  transform: translate(-50%);
  height: 100%;
}

.logo {
  display: none;
  margin-top: 3rem;
  width: 11rem;
}

.titel {
  display: none;
  margin-top: 6rem;
  width: 70%;
  font-family: Cera Pro, sans-serif;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-align: left;
}

.titel-txt {
  display: none;
  transform: translate(-38%, 100%) rotate(-90deg);
  margin-top: 3rem;
  width: 10rem;
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 100%;
  letter-spacing: 0.04em;
  text-align: right;
}

.blockone-right {
  position: absolute;
  right: 0;
  height: 100%;
  background: #ffffff;
  width: 15%;
}

.bonum {
  position: absolute;
  width: 4.5rem;
  top: 3.3rem;
  right: 0;
}

.txt-right {
  transform: translate(45%) rotate(90deg);
  position: absolute;
  top: 47%;
  right: 0;
  display: flex;
}

.txt-p {
  width: 8rem;
  font-family: Cera Pro, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  margin-right: 4.1rem;
}

.txt-span {
  font-size: 1.4rem;
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
}

.blocktwo {
  height: 600px;
  display: block;
  position: relative;
  margin-top: 8rem;
  padding-top: 4.3rem;
}

.subtitel-two {
  position: absolute;
  top: 0;
  left: 50%;
}

.blocktwo-l {
  height: 40%;
}

.blocktwo-l .photo-img {
  margin-left: 20%;
  width: 15rem;
}

.blocktwo-l__year {
  position: relative;
}

.blocktwo-l .year-p {
  transform: translate(-30%, 40%) rotate(-90deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 3.5rem;
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #000000;
}

.blocktwo-r {
  height: 60%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.blocktwo-r__info {
  width: 55%;
  margin-left: 50%;
  transform: translate(-50%, 5%);
}

.blocktwo-r .info-p {
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 132.4%;
  color: #292929;
}

.blocktwo-r__filter {
  width: 100%;
}

.blocktwo-r .filter-amout {
  width: 100%;
  text-align: right;
  font-family: Cera Pro;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 231%;
  color: #000000;
}

.blocktwo-r .filters {
  display: flex;
  justify-content: center;
}

.blocktwo-r .checkbox {
  margin-top: 2.6rem;
  display: flex;
  align-items: start;
  width: 55%;
}

.blocktwo-r .checkbox-titel {
  width: 5.2rem;
  transform: translate(-45%, 100%) rotate(-90deg);
  font-family: Cera Pro;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
}

.blocktwo-r .checkbox-list {
  margin-left: 5rem;
}

.blocktwo-r .list-li {
  margin-bottom: 1.5rem;
  list-style-type: none;
  width: 8rem;
  font-family: Cera Pro;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 154%;
  letter-spacing: 0.03em;
  color: #000000;
}

.blocktwo-r .list-img {
  width: 8px;
  height: 6px;
  margin-right: 1.4rem;
}

.blocktwo-r .bot-clear {
  width: 55%;
  margin-left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
}

.blocktwo-r .clear {
  display: flex;
  width: 8rem;
  list-style-type: none;
  color: #000;
  font-family: Cera Pro;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 3rem;
}

.blocktwo-r .clear-span {
  transform: translate(0.8rem, -0.5rem);
  color: #000;
  font-family: Cera Pro;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
}

.blockthree {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 47% 47%;
  align-content: end;
}

.titel-three {
  position: absolute;
  width: 100%;
}

.blockthree-left__img {
  margin-left: 50%;
  transform: translate(-55%);
  width: 15rem;
}

.three-fltr {
  width: 90%;
  margin: 0 auto;
  display: grid;
}

.three-fltr__box {
  display: flex;
  justify-content: space-between;
}

.three-fltr__placeholder {
  font-family: Cera Pro, sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 231%;
  color: #808080;
}

.three-fltr__list {
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 231%;
  margin-left: .7rem;
  border: none;
  list-style-type: none;
  appearance: none;
  outline: none;
}

.three-fltr__item {
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  line-height: 231%;
}

.three-fltr__check {
  margin-left: .1rem;
}

.blockthree-right {
  position: relative;
}

.blockthree-right .rigth-img {
  width: 13rem;
  margin-left: 50%;
  transform: translate(-50%);
}

.blockthree-right .rigth-colors {
  width: 6.5rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  margin: 1.8rem auto;
}

.right-titel {
  width: 100%;
  font-family: Cera Pro, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 112%;
  text-align: right;
}

.right-subtitel {
  position: absolute;
  transform: translate(45%, 100%) rotate(-90deg);
  top: 48%;
  right: 0;
  font-family: Cera Pro, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.three-products {
  margin: 3.6rem 0 0 17%;
  width: 28rem;
}

.colors-li {
  list-style-type: none;
  width: 33%;
  height: 100%;
}

.cream {
  background: #EEDBD5;
}

.blue {
  background: #82BDCF;
}

.red {
  background: #9C1744;
}

.color {
  width: 1rem;
  height: 1rem;
  margin: .5rem auto;
}

.product-price {
  text-align: center;
  margin-top: 1.5rem;
  font-family: Cera Pro;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.blockfour {
  position: relative;
  padding-top: 5rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5.8rem 11rem 7.4rem 9.8rem 34.7rem 16.6rem;
  grid-template-areas: 'subytitel' 'txt' 'name' 'titel' 'blocktwo' 'blockone';
}

.blockfour .subtitel-four {
  grid-area: subytitel;
}

.blockfour .blockfour-name {
  grid-area: name;
}

.blockfour .blockfour-name__p {
  transform: translate(-40%, 100%) rotate(-90deg);
  width: 3rem;
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.blockfour .blockfour-txt {
  grid-area: txt;
  margin: 0 auto;
  grid-area: txt;
  width: 27rem;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 132.4%;
  color: #292929;
}

.blockfour .four-titel {
  grid-area: titel;
  width: 100%;
}

.blockfour .four-titel__txt {
  text-align: right;
  font-family: Cera Pro, sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 138%;
}

.blockfour .four-color {
  width: 7rem;
  height: 5rem;
}

.blockfour .four-code {
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.03em;
}

.blockfour .blockfour-colorsOne {
  grid-area: blockone;
  display: grid;
  margin-top: 3rem;
  justify-content: start;
  grid-template-columns: 7rem 7rem 11rem;
  grid-template-rows: 8.8rem 8.8rem;
  grid-template-areas: 'dark dark dark' 'grey grey black';
}

.blockfour .four-dark {
  grid-area: dark;
  background: #898989;
}

.blockfour .four-dark .dark-code {
  margin-top: 7rem;
}

.blockfour .four-grey {
  margin-left: 3rem;
  grid-area: grey;
  background: #B7B7B7;
  grid-column-start: 2;
  grid-column-end: 2;
}

.blockfour .four-grey .grey-code {
  margin-top: 7rem;
}

.blockfour .four-black {
  margin-left: 6rem;
  grid-area: black;
  background: #000;
}

.blockfour .blockfour-colorsTwo {
  margin-top: 11.3rem;
  grid-area: blocktwo;
  display: grid;
  justify-content: start;
  grid-template-columns: 39% 30.05% 30.05%;
  grid-template-rows: 10rem 8.3rem 6rem;
  grid-template-areas: 'red red red' 'beige pink pink' 'yellow yellow yellow';
}

.blockfour .four-red {
  grid-area: red;
  grid-column-start: 3;
  grid-column-end: 3;
  transform: translate(-40%);
  background: #9A0034;
  width: 13.3rem;
  height: 5rem;
  position: relative;
}

.blockfour .four-red .red-code {
  position: absolute;
  right: 0;
  bottom: 9rem;
  width: 6.5rem;
  transform: translate(60%, -100%) rotate(-90deg);
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
}

.blockfour .four-pink {
  grid-area: pink;
  background: #D7969E;
}

.blockfour .four-pink .pink-code {
  margin-top: 6.5rem;
}

.blockfour .four-beige {
  grid-area: beige;
  grid-column-start: 1;
  grid-column-end: 1;
  margin-left: 3rem;
  background: #E8D8D9;
}

.blockfour .four-beige .beige-code {
  margin-top: 6.5rem;
}

.blockfour .four-yellow {
  grid-area: yellow;
  grid-column-start: 3;
  grid-column-end: 3;
  margin-left: 3rem;
  background: #DEDCDC;
}

.blockfour .bright {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transform: translate(40%, 100%) rotate(-90deg);
  width: 6rem;
}

.blockfive {
  padding-top: 10rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.five-left {
  margin: 0 auto;
}

.five-titel {
  margin-top: 3.3rem;
}

.five-px {
  width: 100%;
  margin-top: 2.7rem;
  display: flex;
}

.five-px__one {
  width: 78%;
  text-align: end;
  font-family: Cera Pro;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
}

.five-px__two {
  width: 21%;
  text-align: end;
  font-family: Cera Pro;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2rem;
}

.five-test {
  display: flex;
  transform: translate(0, -0.5rem);
}

.test-input {
  width: 80%;
  border: none;
  background: #C4C4C4;
  font-family: Cera Pro;
  font-weight: 400;
  font-size: 1.6rem;
  height: 2.4rem;
}

.test-regular {
  list-style-type: none;
  font-family: Cera Pro;
  font-weight: 400;
  margin-left: .2rem;
  font-size: 1.6rem;
  line-height: 2rem;
  transform: translate(0, -0.5rem);
}

.test-medium {
  font-family: Cera Pro;
  font-weight: 500;
  margin-left: 1rem;
  list-style-type: none;
  font-size: 1.6rem;
  line-height: 2rem;
  transform: translate(0, -0.5rem);
}

.five-name {
  margin-top: 2rem;
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.five-txt {
  width: 70%;
  margin: 5rem auto;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 132.4%;
  color: #292929;
}

.five-geometric {
  transform: translate(0, 1rem);
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0.03em;
}

.blocksixe {
  padding-top: 5rem;
  overflow: hidden;
}

.blocksixe .sixe-top {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.blocksixe .top-name__p {
  transform: translate(-30%, 50%) rotate(-90deg);
  width: 4.2rem;
  height: 2rem;
  font-family: Cera Pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  text-transform: uppercase;
}

.blocksixe .top-box {
  position: absolute;
  width: 5rem;
  height: 9.9rem;
  background: #C4C4C4;
  top: 9rem;
  left: .3rem;
}

.blocksixe .top-letter {
  display: flex;
  justify-content: space-between;
  width: 68.7rem;
}

.blocksixe .letter {
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
}

.blocksixe .sixe-bot {
  margin-top: 10rem;
  margin-left: 5rem;
  display: grid;
  grid-template-columns: 8rem 112rem 10rem;
  justify-content: space-between;
  overflow-y: hidden;
  overflow-x: auto;
}

.blocksixe .sixe-bot__columns {
  padding-top: 3.5rem;
  display: grid;
  grid-template-columns: repeat(12, 6.38%);
  justify-content: space-between;
}

.blocksixe .sixe-bot__name {
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.8rem;
}

.blocksixe .sixe-bot__info {
  margin-top: 30rem;
  transform: translate(10%, 300%) rotate(-90deg);
  height: 2rem;
  width: 15rem;
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.blocksixe .sixe-bot .clm {
  border-left: 1px solid #BFBFBF;
  border-right: 1px solid #BFBFBF;
  position: relative;
  text-align: center;
}

.blocksixe .sixe-bot .clm-a, .blocksixe .sixe-bot .clm-b, .blocksixe .sixe-bot .clm-c, .blocksixe .sixe-bot .clm-d, .blocksixe .sixe-bot .clm-e {
  height: 48rem;
  margin-top: 17.2rem;
}

.blocksixe .sixe-bot .clm-f, .blocksixe .sixe-bot .clm-g, .blocksixe .sixe-bot .clm-g, .blocksixe .sixe-bot .clm-h, .blocksixe .sixe-bot .clm-i, .blocksixe .sixe-bot .clm-j, .blocksixe .sixe-bot .clm-k, .blocksixe .sixe-bot .clm-l {
  height: 58.4rem;
}

.blocksixe .sixe-bot .clm-a {
  border-left: none;
}

.blocksixe .sixe-bot .clm-a .a-box {
  height: 53.6rem;
  transform: translate(0, -10%);
  border-left: 3px solid #BFBFBF;
}

.blocksixe .sixe-bot .clm-a .a-p {
  transform: translate(-80%) rotate(-90deg);
  width: 5rem;
  height: 3.1rem;
}

.blocksixe .sixe-bot .clm-d {
  border-left: none;
  border-right: 3px solid #BFBFBF;
}

.blocksixe .sixe-bot .clm-d__p {
  border-left: 3px solid #BFBFBF;
  height: 53.6rem;
  transform: translate(0, -10%);
}

.blocksixe .sixe-bot .clm-e {
  border-right: none;
}

.blocksixe .sixe-bot .clm-e__p {
  transform: translate(0, -26.5%);
  height: 65.2rem;
  border-right: 3px solid #BFBFBF;
}

.blocksixe .sixe-bot .sixe-p {
  font-family: Cera Pro, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.blocksixe .sixe-bot .clm-f {
  text-align: start;
}

.blocksixe .sixe-bot .clm-f__p {
  transform: translate(0, -3.7rem);
}

.blocksixe .sixe-bot .clm-f__box {
  width: 4.4rem;
  height: 2.9rem;
  background: #C4C4C4;
  transform: translate(150%, -4.5rem);
}

.blocksixe .sixe-bot .clm-l {
  border-right: none;
}

.blocksixe .sixe-bot .clm-l__p {
  height: 65.2rem;
  border-right: 3px solid #BFBFBF;
}

.blockseven {
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: grid;
  overflow-x: hidden;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 8.8rem 10rem 5.8rem 2rem 85.1rem;
  grid-template-areas: 'titel titel' 'text text' 'logot logot' 'menu menu' 'info info';
}

.blockseven .seven-subtitel {
  grid-area: titel;
}

.blockseven .seven-txt {
  grid-area: text;
  width: 25rem;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 132.4%;
  margin: 0 auto;
}

.blockseven .seven-logo {
  grid-area: logot;
  position: relative;
}

.blockseven .seven-logo .logo-img {
  position: absolute;
  right: 0;
  width: 13rem;
}

.blockseven .seven-menu {
  grid-area: menu;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 100%;
}

.blockseven .seven-menu__name {
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.6rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.blockseven .seven-menu__ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.blockseven .seven-menu__li {
  font-family: Cera Pro, sans-serif;
  display: flex;
  align-items: cen;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
}

.blockseven .seven-menu__li:nth-child(3) {
  color: #9A0034;
}

.blockseven .seven-menu .li-img {
  margin-left: 1.5rem;
}

.blockseven .seven-menu .li-span {
  font-weight: 700;
  font-family: Cera Pro, sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-left: .5rem;
}

.blockseven .seven-info {
  grid-area: info;
  padding-top: 9.1rem;
  display: block;
}

.blockseven .info-left {
  width: 100%;
}

.blockseven .info-img {
  width: 20rem;
  margin-left: 50%;
  transform: translate(-50%);
}

.blockseven .seven-titel {
  width: 80%;
  margin-left: 3rem;
  margin-top: 2.3rem;
}

.blockseven .right-txt {
  margin-top: 2.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7.5rem;
  position: relative;
}

.blockseven .seven-dop {
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
}

.blockseven .screen-p {
  transform: translate(45%) rotate(90deg);
  width: 7.5rem;
  height: 1.3rem;
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.6rem;
}

.blockseven .seven-screen {
  width: 17.5rem;
  height: 17.5rem;
  position: absolute;
  background-image: radial-gradient(#cfa382, #fff);
  border-radius: 50%;
  opacity: 0.6;
  filter: blur(50px);
  z-index: 0;
  right: -4.4rem;
  top: 0;
}

.blockseven .seven-btn {
  display: block;
  margin: 3rem auto 4rem auto;
  width: 18rem;
  height: 4rem;
  background: #9A0034;
  color: #fff;
  font-family: Cera Pro, sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.8rem;
  border: none;
  transition: 1s;
}

.blockseven .seven-btn:hover {
  background: #365d97;
}

.blockseven .seven-slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.blockseven .seven-arr {
  font-size: 3rem;
  background: none;
  border: none;
  border-radius: 50%;
  transition: .5s;
  color: #D7969E;
}

.blockseven .seven-arr:hover {
  box-shadow: 0rem 0rem 1rem #365d97;
}

.blockseven .next {
  color: #9A0034;
}

.blockseven .social {
  margin-top: 3.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blockseven .social-name {
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.6rem;
  letter-spacing: 0.04em;
}

.blockseven .social-links {
  width: 15.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blockseven .inst {
  width: 1.6rem;
  height: 1.6rem;
}

.blockeight {
  position: relative;
  height: 67rem;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
}

.blockeight .eight-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25rem;
}

.blockeight .eight-top {
  width: 100%;
  display: flex;
  justify-content: end;
  height: 10.8rem;
}

.blockeight .eight-titel {
  font-family: Cera Pro, sans-serif;
  font-weight: 700;
}

.blockeight .titel-text {
  align-self: flex-end;
}

.blockeight .eight-bot {
  width: 100%;
  height: 12.3rem;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blockeight .eight-sale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
}

.blockeight .eight-sale__name {
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.blockeight .eight-sale__arr {
  color: #9A0034;
  font-size: 3rem;
  margin-bottom: .5rem;
}

.blockeight .eight-sale__up {
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.6rem;
  letter-spacing: 0.04em;
  text-transform: lowercase;
}

.blockeight .eight-check {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blockeight .eight-check__p {
  font-family: Cera Pro, sans-serif;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 154%;
  letter-spacing: 0.03em;
}

.blockeight .eight-check__p-img {
  margin-right: 1.4rem;
}

.blockeight .eight-name {
  position: absolute;
  transform: translate(-30%, 50%) rotate(-90deg);
  top: 44rem;
  left: 1%;
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.6rem;
  letter-spacing: 0.04em;
}

.blocknine {
  position: relative;
  height: 180.3rem;
  margin-top: 12.3rem;
  overflow-x: hidden;
}

.blocknine .nine-top {
  width: 100%;
  height: 12.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.blocknine .nine-titel {
  width: 100%;
}

.blocknine .nine-txt {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 132.4%;
  color: #292929;
}

.blocknine .nine-center {
  margin-top: 5rem;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 99%;
}

.blocknine .dimensions {
  display: flex;
  justify-content: space-between;
  width: 19.2rem;
}

.blocknine .dimensions-p {
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.6rem;
  letter-spacing: 0.04em;
}

.blocknine .nine-filter {
  margin-top: 3rem;
  width: 100%;
  text-align: right;
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 154%;
}

.blocknine .photo-name {
  position: absolute;
  transform: translate(-40%, 100%) rotate(-90deg);
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  text-transform: uppercase;
}

.blocknine .photo-one {
  position: relative;
  padding-bottom: 5rem;
}

.blocknine .photo-one__name {
  top: 11rem;
}

.blocknine .nine-imgOne {
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 3rem;
  width: 19rem;
}

.blocknine .nine-larr {
  position: absolute;
  right: 0;
  top: 56%;
  font-size: 3rem;
}

.blocknine .photo-two {
  position: relative;
}

.blocknine .photo-two__like {
  position: absolute;
  top: 2.4rem;
  right: 2.9rem;
  font-size: 2rem;
  color: #B3B3B3;
}

.blocknine .nine-imgTwo {
  margin-bottom: 1.6rem;
  margin-left: 50%;
  transform: translate(-50%);
  width: 19rem;
}

.blocknine .photo-stiker {
  width: 6rem;
  height: 2.5rem;
  background: #9A0034;
  color: #fff;
  position: absolute;
  top: 2.1rem;
  left: 7.9rem;
  text-align: center;
  padding-top: .4rem;
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.blocknine .nine-bot {
  display: grid;
  justify-content: center;
  grid-template-columns: 99%;
}

.blocknine .nine-bot__info {
  height: 20rem;
  display: grid;
  align-items: end;
  padding-bottom: 5rem;
}

.blocknine .bot-sort {
  width: 90%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blocknine .bot-sort__name {
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 154%;
  width: 7.3rem;
  display: flex;
  justify-content: space-between;
}

.blocknine .nine-rarr {
  font-size: 3rem;
  margin-bottom: .5rem;
  transform: rotate(90deg);
}

.blocknine .nine-new {
  width: 86.1%;
  display: flex;
  justify-content: space-between;
}

.blocknine .nine-new__p {
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 125%;
  text-transform: uppercase;
}

.blocknine .nine-new__like {
  font-size: 1.6rem;
  color: #9A0034;
}

.blocknine .photo-three {
  width: 100%;
}

.blocknine .photo-three__name {
  transform: translate(-4.5rem, 200%) rotate(-90deg);
}

.blocknine .nine-imgThree {
  width: 19rem;
  margin-left: 50%;
  transform: translate(-50%);
}

.blocknine .photo-color {
  display: inline-flex;
  margin-top: 3.3rem;
  margin-left: 50%;
  transform: translate(-50%);
}

.blocknine .p-color {
  margin: 0 .8rem;
  width: 1rem;
  height: 1rem;
}

.blocknine .name-inside {
  margin-top: 5rem;
  width: 95%;
  margin-left: 50%;
  transform: translate(-50%);
}

.blocknine .photo-price {
  display: inline-flex;
  align-item: center;
  margin-top: 1.5rem;
  margin-left: 50%;
  transform: translate(-50%);
  font-family: Cera Pro, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #9A0034;
}

.blocknine .photo-price .full-price {
  margin-top: .2rem;
  margin-left: .8rem;
  font-family: Cera Pro, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-decoration: line-through;
  color: #565656;
}

.blockten {
  height: 95rem;
  margin-top: 15rem;
}

.ten-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 13.4rem;
  margin-bottom: 5rem;
}

.subtitel-txt {
  align-self: flex-end;
  width: 78.73%;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 132.4%;
  color: #292929;
}

.ten-center {
  display: grid;
  grid-template-columns: 10% 25% 65%;
  grid-template-areas: 'left mid right';
}

.center-left {
  grid-area: left;
  position: relative;
}

.center-left__like {
  margin-top: 10rem;
  width: 2rem;
}

.center-left__name {
  margin-top: 10rem;
  width: 9.5rem;
  height: 1.9rem;
  transform: translate(-40%, 200%) rotate(-90deg);
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 132.4%;
}

.center-mid {
  grid-area: mid;
}

.center-mid__txt {
  margin-top: 10rem;
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.6rem;
}

.center-mid__rarr {
  font-size: 3rem;
}

.center-mid__sale {
  margin-top: 9.5rem;
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 125%;
  text-transform: uppercase;
}

.center-right {
  grid-area: right;
  position: relative;
}

.center-right__img {
  width: 15rem;
  margin-left: 50%;
  transform: translate(-50%);
}

.center-right__name {
  width: 7.9rem;
  height: 1.6rem;
  position: absolute;
  top: 10rem;
  right: 0;
  transform: translate(40%, 200%) rotate(90deg);
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.6rem;
  text-transform: uppercase;
}

.ten-bot {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 65% 25% 10%;
  grid-template-areas: 'left mid right';
}

.bot-left {
  position: relative;
  grid-area: left;
}

.bot-left__block {
  display: none;
}

.bot-left__name {
  position: absolute;
  top: 10rem;
  transform: translate(-40%, 100%) rotate(-90deg);
  width: 7.2rem;
  height: 2rem;
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  text-transform: uppercase;
}

.bot-left__img {
  margin-left: 50%;
  transform: translate(-50%);
  width: 15rem;
}

.bot-mid {
  grid-area: mid;
}

.bot-mid__categories {
  margin-top: 10rem;
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 154%;
  width: 8.9rem;
  display: flex;
  justify-content: space-between;
}

.bot-mid__filters {
  margin-top: 5rem;
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 154%;
  width: 5.9rem;
  display: flex;
  justify-content: space-between;
}

.bot-mid .ten-slider {
  margin-top: 16.2rem;
  width: 17.6rem;
  transform: translate(-100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.bot-mid .ten-slider__larr {
  font-size: 3rem;
  margin-bottom: .5rem;
}

.bot-mid .ten-slider__rarr {
  font-size: 3rem;
  margin-bottom: .5rem;
}

.bot-mid .ten-slider__numbers {
  display: flex;
  justify-content: space-between;
  width: 10rem;
  list-style-type: none;
}

.bot-right {
  grid-area: right;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.bot-right__blocks {
  margin-top: 7rem;
  width: 4.5rem;
  display: flex;
  justify-content: space-between;
}

.bot-right__block-blk {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
}

.bot-right__p {
  position: absolute;
  top: 20rem;
  width: 9.5rem;
  height: 1.9rem;
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 132.4%;
  transform: translate(40%, 200%) rotate(90deg);
}

.footer {
  height: 41.6rem;
  display: grid;
  grid-template-columns: 30% 70%;
}

.footer-left {
  position: relative;
}

.footer-logo {
  margin-top: 5rem;
  width: 6.5rem;
}

.footer-gradient {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20%;
  width: 20rem;
  height: 20rem;
  background-image: radial-gradient(#cfa382, #fff);
  border-radius: 50%;
  opacity: 0.6;
  filter: blur(50px);
}

.footer-p {
  position: absolute;
  font-size: 2rem;
  letter-spacing: .5rem;
  height: 2rem;
  width: 20.2rem;
  top: 50%;
  transform: translate(30%, -50%) rotate(90deg);
  right: 25.5%;
  text-align: center;
  font-family: Times New Roman;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #fff, #E1B2B8, #fff);
}

.footer-left {
  position: relative;
}

.footer-titel {
  margin-top: 12rem;
}

.footer-txt {
  transform: translate(-40%, 200%) rotate(-90deg);
  margin-top: 3rem;
  width: 9rem;
  height: 1.8rem;
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.0rem;
  letter-spacing: 0.04em;
}

@media (min-width: 759px) {
  .app .container {
    width: 89.85vw;
  }
  .app .container .titel-blk {
    font-size: 3.2rem;
  }
}

@media (min-width: 959px) {
  .container {
    width: 80.21vw;
  }
  .container .titel-blk {
    font-size: 3.6rem;
  }
  .container .subtitel-blk {
    font-size: 2.4rem;
    line-height: 3rem;
  }
}

@media (min-width: 1439px) {
  .container {
    width: 81.32vw;
  }
  .container .titel-blk {
    font-size: 5.6rem;
    line-height: 7rem;
  }
  .container .subtitel-blk {
    font-size: 3rem;
    line-height: 3.8rem;
  }
}

@media (min-width: 1919px) {
  .container {
    width: 75vw;
  }
}

@media (min-width: 759px) {
  .nav {
    width: 38%;
  }
  .hamburger {
    margin-right: 6.2rem;
  }
}

@media (min-width: 1439px) {
  .hamburger {
    margin-right: 7.6rem;
  }
}

@media (min-width: 1919px) {
  .nav {
    width: 43%;
  }
  .hamburger {
    margin-right: 11.7rem;
  }
  .h-links {
    width: 5.5rem;
  }
}

@media (min-width: 759px) {
  .logo {
    display: flex;
  }
  .titel {
    display: flex;
  }
  .titel-txt {
    display: flex;
  }
  .txt-p {
    width: 9rem;
    font-size: 1.6rem;
  }
  .txt-span {
    font-size: 1.6rem;
  }
}

@media (min-width: 959px) {
  .blockone {
    height: 530px;
  }
  .logo {
    width: 9.1rem;
  }
  .titel {
    font-size: 4.8rem;
    margin-top: 8rem;
  }
  .titel-txt {
    font-size: 1.4rem;
  }
  .bonum {
    width: 6rem;
    top: 3rem;
  }
}

@media (min-width: 1439px) {
  .blockone {
    height: 800px;
  }
  .logo {
    width: 12rem;
  }
  .titel {
    font-size: 7.2rem;
    margin-top: 15rem;
  }
  .bonum {
    width: 6.4rem;
  }
  .txt-right {
    top: 45%;
  }
}

@media (min-width: 1919px) {
  .blockone {
    height: 1055px;
  }
  .logo {
    margin-top: 5rem;
  }
  .titel {
    font-size: 7.2rem;
    margin-top: 21.7rem;
  }
}

@media (min-width: 759px) {
  .blocktwo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px;
  }
  .blocktwo-l {
    height: 67%;
    display: grid;
    grid-auto-rows: 5% 95%;
  }
  .blocktwo-l__photo {
    position: relative;
  }
  .blocktwo-l .photo-img {
    position: absolute;
    width: 28rem;
    right: 0;
    bottom: 0;
  }
  .blocktwo-r {
    height: 67%;
  }
}

@media (min-width: 1439px) {
  .blocktwo {
    height: 800px;
    align-items: end;
    position: relative;
    margin-top: 13vh;
  }
  .blocktwo-l {
    height: 94%;
    display: grid;
    grid-auto-rows: 5% 95%;
  }
  .blocktwo-l .photo-img {
    width: 52rem;
  }
  .blocktwo-r {
    height: 90%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
  }
  .blocktwo-r__info {
    width: 55%;
    margin-left: 50%;
    transform: translate(-50%, 5%);
  }
}

@media (min-width: 759px) {
  .blockthree {
    margin-top: 10rem;
    height: 50rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 85%;
  }
  .titel-three {
    left: 50%;
    width: 50%;
  }
}

@media (min-width: 1439px) {
  .blockthree {
    height: 890px;
  }
  .titel-three {
    width: 43.6rem;
  }
  .blockthree-left__img {
    margin: 13rem 0 0 50%;
    transform: translate(-55%);
    width: 30rem;
  }
  .three-fltr {
    width: 38.3rem;
    display: flex;
    justify-content: space-around;
  }
  .blockthree-right .rigth-img {
    width: 28rem;
  }
}

@media (min-width: 759px) {
  .blockfour {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 7.8rem 13rem 11rem 40.1rem;
    grid-template-areas: 'subytitel subytitel' 'name txt' 'titel titel' 'blockone blocktwo';
  }
  .blockfour .subtitel-four {
    margin-left: 50%;
  }
  .blockfour .blockfour-name__p {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .blockfour .four-titel {
    width: 28rem;
    margin-left: 3rem;
  }
  .blockfour .blockfour-colorsOne {
    margin-top: 26rem;
    margin-left: 3rem;
    grid-template-rows: 8.3rem 8.3rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .blockfour .four-grey {
    margin-left: 0;
  }
  .blockfour .four-black {
    margin-left: 0;
  }
  .blockfour .blockfour-colorsTwo {
    margin-top: 0;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 12.7rem 8.3rem 8.3rem;
    grid-template-areas: 'red red red' 'pink pink pink' 'beige yellow yellow';
  }
  .blockfour .four-red {
    width: 19rem;
    grid-column-start: 3;
    grid-column-end: 3;
    transform: translate(-40%);
  }
  .blockfour .four-red .red-code {
    bottom: 7.5rem;
    width: 6.5rem;
    transform: translate(60%, -100%) rotate(-90deg);
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  .blockfour .four-beige {
    margin-left: 0;
    grid-column-start: 2;
    grid-column-end: 2;
  }
  .blockfour .four-yellow {
    grid-column-start: 3;
    grid-column-end: 3;
    margin-left: 0;
  }
}

@media (min-width: 959px) {
  .blockfour {
    grid-template-rows: 8.4rem 13rem 11rem 40.1rem;
  }
  .blockfour .blockfour-txt {
    font-size: 1.3rem;
  }
  .blockfour .four-titel {
    width: 32rem;
  }
  .blockfour .four-titel__txt {
    font-size: 1.4rem;
  }
  .blockfour .four-color {
    width: 8rem;
  }
  .blockfour .blockfour-colorsOne {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .blockfour .four-grey {
    margin-left: 0;
  }
  .blockfour .four-black {
    margin-left: 0;
    grid-column-start: 3;
    grid-column-end: 3;
  }
  .blockfour .blockfour-colorsTwo {
    grid-template-rows: 13.9rem 8.3rem 8.3rem;
  }
  .blockfour .four-red {
    width: 21rem;
    grid-column-start: 3;
    grid-column-end: 3;
    transform: translate(-40%);
  }
  .blockfour .four-red .red-code {
    bottom: 7.5rem;
    width: 6.5rem;
    transform: translate(40%, -100%) rotate(-90deg);
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

@media (min-width: 1439px) {
  .blockfour {
    grid-template-rows: 8.8rem 13rem 15.8rem 38.5rem;
  }
  .blockfour .four-titel {
    width: 43.4rem;
  }
  .blockfour .four-titel__txt {
    font-size: 1.6rem;
  }
  .blockfour .four-color {
    width: 13rem;
    height: 6rem;
  }
  .blockfour .blockfour-colorsOne {
    margin-top: 20rem;
  }
  .blockfour .four-grey {
    transform: translate(-3rem);
  }
  .blockfour .four-black {
    transform: translate(-6rem);
  }
  .blockfour .blockfour-colorsTwo {
    grid-template-rows: 11.5rem 8.3rem 8.3rem;
  }
  .blockfour .four-red {
    width: 28rem;
    transform: translate(-30%);
  }
  .blockfour .four-beige {
    transform: translate(-25%);
  }
  .blockfour .four-yellow {
    transform: translate(-50%);
  }
  .blockfour .bright {
    transform: translate(37%, -300%) rotate(-90deg);
  }
}

@media (min-width: 1919px) {
  .blockfour {
    padding-top: 15rem;
    grid-template-rows: 8.8rem 13rem 15.8rem 38.5rem;
  }
  .blockfour .blockfour-txt {
    font-size: 1.4rem;
    width: 31.6rem;
    margin-left: 20%;
  }
  .blockfour .blockfour-colorsOne {
    width: 80%;
    margin-left: 20%;
  }
  .blockfour .blockfour-colorsTwo {
    width: 80%;
    margin-left: 20%;
  }
  .blockfour .bright {
    font-size: 1.6rem;
  }
}

@media (min-width: 759px) {
  .blockfive {
    grid-template-columns: 48% 41%;
    grid-template-rows: 55.1rem;
  }
}

@media (min-width: 1439px) {
  .blockfive {
    padding-top: 15rem;
    grid-template-columns: 48% 41%;
    grid-template-rows: 63.1rem;
  }
  .five-left {
    margin-left: 4%;
    margin-top: 8.8rem;
  }
  .five-right {
    margin-left: 4%;
  }
  .five-titel {
    margin-top: 8.3rem;
  }
  .five-px {
    margin-top: 5.7rem;
  }
  .five-name {
    margin-top: 5rem;
  }
}

@media (min-width: 1439px) {
  .blocksixe {
    padding-top: 10rem;
  }
  .blocksixe .top-box {
    top: 16rem;
  }
  .blocksixe .sixe-bot {
    margin-top: 17rem;
  }
}

@media (min-width: 1439px) {
  .blockseven {
    padding-top: 15rem;
    grid-auto-rows: 8.8rem 15.8rem 2rem 85.1rem;
    grid-template-areas: 'titel titel' 'text logot' 'menu menu' 'info info';
  }
  .blockseven .seven-txt {
    width: 37rem;
  }
  .blockseven .seven-menu {
    display: grid;
    align-items: center;
    grid-template-columns: 8.6% 34.2% 57.2%;
  }
  .blockseven .seven-info {
    grid-area: info;
    padding-top: 9.1rem;
    display: flex;
  }
  .blockseven .info-left {
    width: 40.17%;
  }
  .blockseven .info-img {
    width: 47rem;
    margin-left: 0;
    transform: translate(0);
  }
  .blockseven .info-right {
    width: 60%;
  }
  .blockseven .seven-titel {
    width: 37rem;
    margin-left: 13rem;
    margin-top: 8.3rem;
    font-size: 5.6rem;
  }
  .blockseven .right-txt {
    margin-top: 8.1rem;
  }
  .blockseven .seven-dop {
    margin-left: 23rem;
  }
  .blockseven .seven-btn {
    display: block;
    margin-top: 6.7rem;
    margin-left: 13rem;
    margin-bottom: 10rem;
    width: 18rem;
    height: 4rem;
  }
  .blockseven .seven-slider {
    margin-left: 13rem;
    width: 36.9rem;
  }
  .blockseven .social {
    margin-top: 11.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .blockseven .social-name {
    margin-left: 3rem;
  }
}

@media (min-width: 1439px) {
  .blockeight {
    height: 67rem;
    padding-left: 10rem;
  }
  .blockeight .eight-bg {
    width: 42rem;
  }
  .blockeight .eight-top {
    width: 36rem;
    height: 16.8rem;
  }
  .blockeight .eight-bot {
    width: 50.8rem;
    height: 12.3rem;
    margin-top: 14rem;
  }
}

@media (min-width: 1439px) {
  .blocknine {
    height: 212.3rem;
    margin-top: 12.3rem;
  }
  .blocknine .nine-top {
    width: 56.7rem;
  }
  .blocknine .nine-center {
    margin-top: 10rem;
    grid-template-columns: 51rem 57rem;
  }
  .blocknine .nine-filter {
    margin-top: 21.1rem;
  }
  .blocknine .photo-one {
    padding-bottom: 0;
  }
  .blocknine .photo-one__name {
    top: 36rem;
  }
  .blocknine .nine-imgOne {
    margin-left: 5rem;
    transform: translate(0);
    margin-top: 10rem;
    width: 46rem;
  }
  .blocknine .nine-larr {
    right: -5.8rem;
  }
  .blocknine .photo-two {
    position: relative;
  }
  .blocknine .photo-two__like {
    position: absolute;
    top: 2.4rem;
    right: 2.9rem;
    font-size: 2rem;
    color: #B3B3B3;
  }
  .blocknine .nine-imgTwo {
    margin-bottom: 1.6rem;
    margin-left: 5rem;
    transform: translate(0);
    width: 52.2rem;
  }
  .blocknine .nine-bot {
    grid-template-columns: 43rem 52rem;
  }
  .blocknine .nine-bot__info {
    height: 58rem;
    padding-bottom: 0;
  }
  .blocknine .bot-sort {
    width: 77.45%;
    margin-left: 22.55%;
  }
  .blocknine .nine-rarr {
    transform: rotate(0);
  }
  .blocknine .nine-new {
    width: 86.1%;
    display: flex;
    justify-content: space-between;
  }
  .blocknine .nine-new__p {
    font-family: Cera Pro, sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 125%;
    text-transform: uppercase;
  }
  .blocknine .nine-new__like {
    font-size: 1.6rem;
    color: #9A0034;
  }
  .blocknine .photo-three {
    margin-left: 2.2rem;
  }
  .blocknine .photo-three__name {
    transform: translate(-4.5rem, 200%) rotate(-90deg);
  }
  .blocknine .nine-imgThree {
    width: 47rem;
    margin-left: 5rem;
    transform: translate(0);
  }
  .blocknine .name-inside {
    width: 31.9rem;
  }
}

@media (min-width: 1439px) {
  .blockten {
    height: 155.4rem;
  }
  .ten-top {
    width: 47rem;
    height: 16.4rem;
    margin-bottom: 0;
  }
  .ten-center {
    display: grid;
    grid-template-columns: 30.2rem 1fr 41.6rem;
  }
  .center-left__like {
    margin-top: 19.7rem;
  }
  .center-left__name {
    margin-top: 15.5rem;
  }
  .center-mid {
    grid-area: mid;
  }
  .center-mid__txt {
    margin-top: 19.7rem;
  }
  .center-mid__rarr {
    font-size: 3rem;
  }
  .center-mid__sale {
    margin-top: 19.5rem;
  }
  .center-right__img {
    width: 27.6rem;
    margin-left: 0;
    transform: translate(0);
  }
  .ten-bot {
    grid-template-columns: 50rem 62.5rem 1fr;
    margin-top: 0;
  }
  .bot-left__block {
    display: block;
    position: absolute;
    height: 71rem;
    width: 3.9rem;
    background: #C4C4C4;
    left: -6.2rem;
    top: 6rem;
  }
  .bot-left__img {
    width: 27.6rem;
  }
  .bot-mid__categories {
    margin-top: 21.5rem;
  }
  .bot-mid .ten-slider {
    margin-top: 16.2rem;
    transform: translate(0);
  }
  .bot-right__blocks {
    margin-top: 21.5rem;
  }
  .bot-right__p {
    top: 37.5rem;
  }
}

@media (min-width: 759px) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }
  .footer-p {
    font-size: 3rem;
    letter-spacing: .5rem;
    height: 3rem;
    width: 20.2rem;
  }
  .footer-gradient {
    width: 20rem;
    height: 20rem;
  }
  .footer-titel {
    margin-top: 14rem;
  }
}

@media (min-width: 959px) {
  .footer {
    height: 49.6rem;
  }
  .footer-logo {
    margin-top: 10rem;
  }
  .footer-p {
    font-size: 4rem;
    letter-spacing: 1rem;
    height: 4rem;
    width: 30.2rem;
  }
  .footer-gradient {
    width: 30rem;
    height: 30rem;
  }
  .footer-titel {
    margin-top: 17rem;
  }
  .footer-txt {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
}

@media (min-width: 1439px) {
  .footer {
    height: 66rem;
  }
  .footer-gradient {
    width: 40rem;
    height: 40rem;
  }
  .footer-p {
    font-size: 6rem;
    letter-spacing: 1rem;
    height: 6rem;
    width: 40rem;
  }
  .footer-txt {
    width: 9rem;
    height: 1.8rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

@media (min-width: 1919px) {
  .footer {
    height: 88.5rem;
  }
  .footer-gradient {
    width: 50rem;
    height: 50rem;
  }
  .footer-p {
    font-size: 7rem;
    letter-spacing: 1rem;
    height: 7rem;
    width: 50rem;
    transform: translate(30%, 400%) rotate(90deg);
  }
  .footer-titel {
    margin-top: 30rem;
  }
  .footer-p {
    top: 10rem;
  }
}
/*# sourceMappingURL=index.css.map */