.blockfour
    position: relative
    margin-top: 5rem
    display: grid
    grid-template-columns: 100%
    grid-template-rows: 5.8rem 11rem 7.4rem 9.8rem 34.7rem 16.6rem
    grid-template-areas: 'subytitel' 'txt' 'name' 'titel' 'blocktwo' 'blockone' 


    .subtitel-four
        grid-area: subytitel
        font-family: Cera Pro, sans-serif
        font-weight: 500
        font-size: 2.2rem
        line-height: 2.8rem
        letter-spacing: 0.03em

    .blockfour-name
        grid-area: name
        &__p
            transform: translate(-40%, 100%) rotate(-90deg)
            width: 3rem
            font-family: Cera Pro, sans-serif
            font-weight: 500
            font-size: 1.2rem
            line-height: 1.5rem
            letter-spacing: 0.03em
            text-transform: uppercase
    .blockfour-txt
        grid-area: txt
        margin: 0 auto
        grid-area: txt
        width: 27rem
        font-family: Montserrat, sans-serif
        font-weight: 400
        font-size: 1.2rem
        line-height: 132.4%
        color: #292929

    .four-titel
        grid-area: titel
        width: 100%
        &__txt
            text-align: right
            font-family: Cera Pro, sans-serif
            font-weight: 400
            font-size: 1.3rem
            line-height: 138%


    .four-color
        width: 7rem
        height: 5rem
    .four-code
        font-family: Cera Pro, sans-serif
        font-weight: 500
        font-size: 1.4rem
        line-height: 1.8rem
        letter-spacing: 0.03em


    .blockfour-colorsOne
        grid-area: blockone
        display: grid
        margin-top: 3rem
        justify-content: start
        grid-template-columns: 7rem 7rem 11rem
        grid-template-rows: 8.8rem 8.8rem
        grid-template-areas: 'dark dark dark' 'grey grey black'
    .four-dark
        grid-area: dark
        background: #898989
        .dark-code
            margin-top: 7rem
    .four-grey
        margin-left: 3rem
        grid-area: grey
        background: #B7B7B7
        grid-column-start: 2
        grid-column-end: 2
        .grey-code
            margin-top: 7rem
    .four-black
        margin-left: 6rem
        grid-area: black
        background: #000


    .blockfour-colorsTwo
        margin-top: 11.3rem
        grid-area: blocktwo
        display: grid
        justify-content: start
        grid-template-columns:  39% 30.05% 30.05%
        grid-template-rows: 10rem 8.3rem 6rem
        grid-template-areas: 'red red red' 'beige pink pink' 'yellow yellow yellow'

    .four-red
        grid-area: red
        grid-column-start: 3
        grid-column-end: 3
        transform: translate(-40%)
        background: #9A0034
        width: 13.3rem
        height: 5rem
        position: relative
        .red-code
            position: absolute
            right: 0
            bottom: 9rem
            width: 6.5rem
            transform: translate(60%, -100%) rotate(-90deg)
            font-family: Cera Pro, sans-serif
            font-weight: 500
            font-size: 1.2rem
            line-height: 1.5rem
            letter-spacing: 0.03em
    .four-pink
        grid-area: pink
        background: #D7969E
        .pink-code
            margin-top: 6.5rem

    .four-beige
        grid-area: beige
        grid-column-start: 1
        grid-column-end: 1
        margin-left: 3rem
        background: #E8D8D9
        .beige-code
            margin-top: 6.5rem
    .four-yellow
        grid-area: yellow
        grid-column-start: 3
        grid-column-end: 3
        margin-left: 3rem
        background: #DEDCDC

    .bright
        position: absolute
        bottom: 0
        right: 0
        font-family: Cera Pro, sans-serif
        font-weight: 500
        font-size: 1.2rem
        line-height: 1.5rem
        letter-spacing: 0.03em
        text-transform: uppercase
        transform: translate(40%, 100%) rotate(-90deg)
        width: 6rem
