*
    font-size: 10px
    margin: 0
    padding: 0
    box-sizing: border-box
    -webkit-tap-highlight-color: transparent
    color: #000000

.App 
    width: 100%
    background: #fff


.container
    margin: 0 auto
    width: 91.7vw
.btn
    cursor: pointer
    &:hover
        text-shadow: 0 0 1rem #8400ff, 0 0 1rem #8400ff
        border-right: .1rem solid #000


.titel-blk
    font-family: Cera Pro
    font-weight: 700
    font-size: 3.2rem
    line-height: 100%
    color: #000000



.subtitel-blk
    font-family: Cera Pro, sans-serif
    font-weight: 500
    font-size: 2.2rem
    line-height: 2.8rem
    letter-spacing: 0.03em

