@media ( min-width: 759px )
    .app
        .container
            width: 89.85vw
            .titel-blk
                font-size: 3.2rem


@media ( min-width: 959px )

    .container
        width: 80.21vw
        .titel-blk
            font-size: 3.6rem
        .subtitel-blk
            font-size: 2.4rem
            line-height: 3rem
    
@media ( min-width: 1439px )

    .container
        width: 81.32vw
        .titel-blk
            font-size: 5.6rem
            line-height: 7rem
        .subtitel-blk
            font-size: 3rem
            line-height: 3.8rem


@media ( min-width: 1919px )
  
    .container
        width: 75vw
    